:root {
	//BLACK & WHITE
	--sng-white: rgba(255,255,255,1);
	--sng-black: rgba(0,0,0,1);
	//SONGTRADR ORANGE
	--sng-orange: #ce4519;
	--sng-orange-80f: #d86a47;
	--sng-orange-60f: #e28f75;
	--sng-orange-40f: #ebb5a3;
	--sng-orange-20f: #f5dad1;
	--sng-orange-80a: rgba(206,69,25,.8);
	--sng-orange-60a: rgba(206,69,25,.6);
	--sng-orange-40a: rgba(206,69,25,.4);
	--sng-orange-20a: rgba(206,69,25,.2);
	//SONGTRADR GRAY
	--sng-gray: #2c3237;
	--sng-gray-80f: #575b60;
	--sng-gray-60f: #818488;
	--sng-gray-40f: #abadaf;
	--sng-gray-20f: #d5d6d7;
	--sng-gray-10f: #eaeaeb;
	--sng-gray-5f: #f4f5f5;
	--sng-gray-80a: rgba(45,50,56,.8);
	--sng-gray-60a: rgba(45,50,56,.6);
	--sng-gray-40a: rgba(86, 117, 155, 0.4);
	--sng-gray-20a: rgba(45,50,56,.2);
	--sng-gray-10a: rgba(45,50,56,.1);
	--sng-gray-5a: rgba(44, 50, 55, 0.05);
	//SONGTRADR BLUE
	--sng-blue: #0099ff;
	--sng-blue-80f: #33adff;
	--sng-blue-60f: #66c2ff;
	--sng-blue-40f: #99d6ff;
	--sng-blue-20f: #ccebff;
	--sng-blue-80a: rgba(0,153,255,.8);
	--sng-blue-60a: rgba(0,153,255,.6);
	--sng-blue-40a: rgba(0,153,255,.4);
	--sng-blue-20a: rgba(0,153,255,.2);
	//SONGTRADR MAGENTA
	--sng-magenta: #cc0066;
	--sng-magenta-80f: #d63385;
	--sng-magenta-60f: #e066a3;
	--sng-magenta-40f: #eb99c2;
	--sng-magenta-20f: #f5cce0;
	--sng-magenta-80a: rgba(204,0,102,.8);
	--sng-magenta-60a: rgba(204,0,102,.6);
	--sng-magenta-40a: rgba(204,0,102,.4);
	--sng-magenta-20a: rgba(204,0,102,.2);
	//SONGTRADR GREEN
	--sng-green: #00cc00;
	--sng-green-80f: #33d633;
	--sng-green-60f: #66e066;
	--sng-green-40f: #99eb99;
	--sng-green-20f: #ccf5cc;
	--sng-green-80a: rgba(0,204,0,.8);
	--sng-green-60a: rgba(0,204,0,.6);
	--sng-green-40a: rgba(0,204,0,.4);
	--sng-green-20a: rgba(0,204,0,.2);
	//SONGTRADR LIME
	--sng-lime: #ccff00;
	--sng-lime-80f: #d6ff33;
	--sng-lime-60f: #e0ff66;
	--sng-lime-40f: #ebff99;
	--sng-lime-20f: #f5ffcc;
	--sng-lime-80a: rgba(204,255,0,.8);
	--sng-lime-60a: rgba(204,255,0,.6);
	--sng-lime-40a: rgba(204,255,0,.4);
	--sng-lime-20a: rgba(204,255,0,.2);
	//SONGTRADR COFFEE
	--sng-coffee: #996633;
	--sng-coffee-80f: #ad855c;
	--sng-coffee-60f: #c2a385;
	--sng-coffee-40f: #d6c2ad;
	--sng-coffee-20f: #ebe0d6;
	--sng-coffee-80a: rgba(153,102,51,.8);
	--sng-coffee-60a: rgba(153,102,51,.6);
	--sng-coffee-40a: rgba(153,102,51,.4);
	--sng-coffee-20a: rgba(153,102,51,.2);
	//SONGTRADR RED
	--sng-red: #cc0000;
	--sng-red-80f: #d63333;
	--sng-red-60f: #e06666;
	--sng-red-40f: #eb9999;
	--sng-red-20f: #f5cccc;
	--sng-red-80a: rgba(204,0,0,.8);
	--sng-red-60a: rgba(204,0,0,.6);
	--sng-red-40a: rgba(204,0,0,.4);
	--sng-red-20a: rgba(204,0,0,.2);
	//SONGTRADR YELLOW
	--sng-yellow: #ffcc00;
	--sng-yellow-80f: #ffd633;
	--sng-yellow-60f: #ffe066;
	--sng-yellow-40f: #ffeb99;
	--sng-yellow-20f: #fff5cc;
	--sng-yellow-80a: rgba(255,204,0,.8);
	--sng-yellow-60a: rgba(255,204,0,.6);
	--sng-yellow-40a: rgba(255,204,0,.4);
	--sng-yellow-20a: rgba(255,204,0,.2);
	//SONGTRADR LILAC
	--sng-lilac: #990099;
	--sng-lilac-80f: #ad33ad;
	--sng-lilac-60f: #c266c2;
	--sng-lilac-40f: #d699d6;
	--sng-lilac-20f: #ebcceb;
	--sng-lilac-80a: rgba(153,0,153,.8);
	--sng-lilac-60a: rgba(153,0,153,.6);
	--sng-lilac-40a: rgba(153,0,153,.4);
	--sng-lilac-20a: rgba(153,0,153,.2);
	//SONGTRADR NAVY
	--sng-navy: #003366;
	--sng-navy-80f: #335c85;
	--sng-navy-60f: #6685a3;
	--sng-navy-40f: #99adc2;
	--sng-navy-20f: #ccd6e0;
	--sng-navy-80a: rgba(0,51,102,.8);
	--sng-navy-60a: rgba(0,51,102,.6);
	--sng-navy-40a: rgba(0,51,102,.4);
	--sng-navy-20a: rgba(0,51,102,.2);
	//SONGTRADR CORAL
	--sng-coral: #ff6666;
	--sng-coral-80f: #ff8585;
	--sng-coral-60f: #ffa3a3;
	--sng-coral-40f: #ffc2c2;
	--sng-coral-20f: #ffe0e0;
	--sng-coral-80a: rgba(255,102,102,.8);
	--sng-coral-60a: rgba(255,102,102,.6);
	--sng-coral-40a: rgba(255,102,102,.4);
	--sng-coral-20a: rgba(255,102,102,.2);
}

$color-main-one: #6227C1;
$color-main-two: #007FFA;